.color1{
    background: #FF9900;
}

.color2{
    background: #d14;
}
.pie{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    color: #003366;
}

.btnentrar{
    cursor: pointer;
}

.bordeyfondogris {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

textArea{resize: none;}

.FondoAzulLetrasBlancaTABLAS {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006699;
}
.FondoNaranjaLetrasBlancaTABLAS {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF9900;
}
.titulospequenosAnaranjados {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9900;
	vertical-align: middle;
	text-decoration: none;
}
.Estilo7sinlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9900;
	font-style: normal;
	line-height: normal;
	font-weight: bolder;
}
.titulosmedianosAnaranjadosCopia {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF9900;
	text-decoration: none;
}
.titulosmedianosAzules {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003366;
	text-decoration: none;
}
.titulosgrandesAzules {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #003366;
	vertical-align: middle;
	text-decoration: none;
	font-weight: normal;
}
.titulospequenosAnaranjadosConLink {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9900;
	vertical-align: middle;
}
.FondoAzulLetrasBlancaTitulos {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006699;
}
.titulospequenosAzulesFondoGris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	background-color: #EBEBEB;
}
label{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #003366;
    text-decoration: none;
}
.oblig{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bold;
    color:  red;
    text-decoration: none;
}

.mayuscula{
	text-transform: uppercase;
}

a{
    cursor:pointer;
    text-decoration: none;
}

#fecha{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bold;
    color: black;
}

#mensaje{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bold;
    color: black;
}
.area {
    border: solid #AAAAAA 2px;
    padding: 0px;
    background-color: #F9F9F9;
    width: 700px;
    height: 200px;
    margin: 8px auto 10px auto;
}

.area2 {
    border: solid #AAAAAA 2px;
    padding: 0px;
    background-color: #F9F9F9;
    width: 500px;
    height: 100px;
    margin: 8px auto 10px auto;
}
.area3 {
    border: solid #AAAAAA 2px;
    padding: 0px;
    background-color: #F9F9F9;
    width: 700px;
    height: 350px;
    margin: 8px auto 10px auto;
}
.areaGrupo {
    border: solid #AAAAAA 2px;
    padding: 0px;
    background-color: #F9F9F9;
    width: 500px;
    height: 113px;
    margin: 8px auto 10px auto;
}
.tablaCont{
    color:#FFFFFF;
   /* background-color: #060;*/
    background-color: #006699;
    /*background-color:#3B5984;*/
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
}
.colorCelda{
left:auto;
background:#C7E1F3 none repeat scroll 0 0;
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:500;
line-height:normal;
margin-top:4px;
padding:4px 4px 4px 8px;
}
.colorCelda2{
left:auto;
background: #dfb none repeat scroll 0 0;
color: #FFFFAA;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:500;
line-height:normal;
margin-top:4px;
padding:4px 4px 4px 8px;
}
.tablaClick,.tablaOver{
/*background-color:#c5e4ff;*/
background-color: #34ABFA;
font-weight:500;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
line-height:normal;
}

.explic {
    color: black;
    width: 200px;
    border: 1px solid #c93;
    padding: 10px 12px;
    font-family: arial, helvetica;
    font-size: 12px;
    margin-left: 8px;
    /* to fix IE6, I can't just declare a background-color,
     I must do a bg image, too!  So I'm duplicating the pointer.gif
     image, and positioning it so that it doesn't show up
     within the box */
    background: #ffc;
}
.textoinput{
    font-size:11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding:5px; 
    text-align: left;
    
}